@import "default";

//DEFAULTS

*{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  &:focus{
    outline: none;
  }
}

html{
  //background: @lightgrey;
  min-height: 100vh;
}

h1, p{
  margin: 0;
}

body{
  margin: 0;
  font-family: 'HelveticaNeueMed', sans-serif;
  font-size: 0.8em;
}

p, span, a{
  font-family: 'HelveticaNeueMed', sans-serif;
  font-size: 1em;
}

img{
  width: 100%;
}

img.logo{
  max-height: 40px;
  width: auto;
}

a{
  color: unset;
  text-decoration: none;
  cursor: pointer;
  &:visited{
    color: unset;
  }
}

//MAIN STYLES

.nav{
  position: fixed;
  bottom:0;
  left: -161px;
  width: 120px;
  padding: 20px;
  transition: all ease 0.2s;
  z-index: 1000;
  background: @white;
  border: 1px solid @red;
  border-width: 1px 1px 0 0;
  ul.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin-bottom: -5px;
      a {
        position: relative;
        padding: 0 20px 5px 0;
        transition: all linear 0.2s;
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        &::after {
          position: absolute;
          content: '';
          width: 15px;
          height: 2px;
          background: @black;
          top: 35%;
          right: 0;
          transition: all ease 0.2s;
        }
        &:hover {
          padding: 0 0 5px;
          color: @red;
          &::after {
            width: 100%;
            top: 75%;
            right: 0;
            background: @red;
          }
        }
      }
    }
  }
  .nav-btn{
    display: none;
  }
  @media (max-width: 1280px){
    .nav-btn{
      display: block;
      position: absolute;
      right: -50px;
      bottom: 0;
      font-size: 50px;
      transition: right ease 0.2s;
      cursor: pointer;
      &:hover{
        color: @red;
      }
    }
  }
  &.active{
    left: 0;
    width: 200px;
    .nav-btn{
      transform: rotate(180deg);
      right: 10px;
    }
  }
  @media (max-width: 640px){
    .nav-btn:hover{
      color: @black;
    }
    &.active{
      width: 100%;
      .nav-btn{
        right: 50px;
      }
    }
  }
}

header{
  text-align: center;
  padding: 20px 0;
  font-family: 'HelveticaNeueLTDExt', sans-serif;
  h1,img{
    display: inline-block;
    vertical-align: bottom;
    color: @red;
  }
  img.logo{
    margin-left: -7%;
  }
  @media (min-width: 640px) {
    h1:first-child {
      float: left;
    }
    h1:last-child {
      float: right;
    }
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 250px;
    }
  }
  @media (max-width: 640px) {
    padding: 10px;
    h1{
      text-align: left;
      display: block;
    }
    img.logo{
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .container{
      margin-left: 0;
    }
  }
}

footer{
  padding: 20px 0 0;
  margin: 100px 0 0;
  .container{
    border-top: 1px solid;
  }
  .fsection{
    width: 50%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    &.contact, &.social{
      .icon-wrap {
        .icons {
          display: inline-block;
          width: 50%;
          margin: 0 auto;
          a {
            width: 50%;
            display: inline-block;
            position: relative;
            i {
              font-size: 3em;
              cursor: pointer;
              margin-left: 0;
              transition: all ease 0.2s;
              .icon-inner {
                font-size: 16px;
                position: absolute;
                opacity: 0;
                left: 0;
                top: 33%;
                transition: left ease 0.2s;
                @media (max-width: 640px) {
                  display: none;
                }
              }
            }
            &:hover{
              i{
                color: @red;
                margin-left: -50%;
                .icon-inner{
                  opacity: 1;
                  left: 40%;
                }
                &.fa.fa-envelope-o{
                  margin-left: -140%;
                  .icon-inner{
                    left: 0%;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.social{
      border-right: 1px solid;
    }
  }
  @media (max-width: 640px){
    margin: 100px 0 0;
    background: @red;
    .container{
      border-top: 0;
      .fsection{
        width: 100%;
        display: block;
        border-right: 0;
        h3, .icon-wrap{
          width: 50%;
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          .icons{
            width: 100%;
            text-align: right;
            a{
              i{
                font-size: 2em;
              }
            }
          }
        }
        &.contact{
          border-top: 1px solid;
        }
      }
    }
  }
  .logo-wrap{
    text-align: center;
    padding: 30px 0 10px;
  }
}

.center{
  text-align: center;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
  h2{
    border-bottom: 1px solid;
    display: inline-block;
    padding-bottom: 10px;
  }
  .hero{
    background-image: url('img/manchester.jpg');
    background-color: red;
    background-blend-mode: difference;
    transition: background-color cubic-bezier(.5,0,.5,1) 1s;
    &:hover{
      background-color: transparent;
      .hero-title{
        opacity: 1;
      }
    }
    height: 630px;
    .hero-title{
      color: @white;
      text-align: center;
      padding-top: 10%;
      font-size: 3em;
      opacity: 0;
      transition: opacity cubic-bezier(.5,0,.5,1) 1s;
    }
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .projects{
    text-align: right;
    display: block;
    li{
      a {
        position: relative;
        padding: 0 20px 5px 0;
        transition: all linear 0.2s;
        cursor: pointer;
        display: inline-block;
        &::after {
          position: absolute;
          content: '';
          width: 15px;
          height: 2px;
          background: @black;
          top: 35%;
          right: 0;
          transition: all ease 0.2s;
        }
        &:hover, &.active {
          padding: 0 0 5px;
          color: @red;
          &::after {
            width: 100%;
            top: 75%;
            right: 0;
            background: @red;
          }
        }
        &.active{
          color: @black;
        }
      }
      .project{
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0 0 0;
        transition: opacity linear 0.4s;
        &.active{
          max-height: 1000px;
          padding: 10px 0 20px;
          opacity: 1;
          transition: opacity linear 0.4s;
        }
        p{
          margin-bottom: 5px;
        }
      }
    }
  }
  .section{
    margin: 10% 0;
    h2{
      margin: 0;
      text-align: center;
      display: block;
      border-bottom: 0;
      padding: 0;
    }
    p{
      margin: 0 auto;
      max-width: 50%;
      &.center{
        margin-bottom: 2px;
      }
    }
    &.inspiration{
      line-height: normal;
      margin: 0;
      .insp-gallery {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        img {
          width: 33%;
          display: inline-block;
          padding: 0 2.5px 5px;
          box-sizing: border-box;
          align-self: center;
        }
        @media (max-width: 1024px){
          margin: 0 -2.5px;
          img {
            width: 50%;
          }
        }
        &:after{
          content: '';
          clear: both;
        }
      }
    }
    &.hero{
      @media (min-width: 1024px) {
        margin: 0 0 17.5% 0;
      }
    }
  }
  @media (max-width: 1024px){
    margin: 0 10px;
  }
}

//FULL VH ON MOBILE SECTIONS
@media (max-width: 640px) {
  .section{
    margin: 0;
    min-height: 100vh;
    line-height: 100vw;
    .section-inner{
      vertical-align: bottom;
      line-height: normal;
      display: inline-block;
    }
  }
  .hero{
    height: 80vh!important;
  }
}