@import "default";

//DEFAULTS

*{
  &:focus{
    outline: none;
  }
}

body{
  margin: 0;
  font-size: 0.8em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding: 0 20px;
}

img{
  width: 100%;
  display: block;
}


//MAIN STYLES

header{
  text-align: center;
}

h1, h2, h3, h4, h5{
  font-weight: 500;
}

h1{
  margin: 0 0 2rem;
}

h2{
  margin: 0 0 1rem;
}

h3{
  margin: 0 0 0.5rem;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right
}

.container{
  width: 90vw;
  height: 126vw;
  padding: 0.8rem;
  @media (min-width: 1024px) {
    width: 50vw;
    height: 70vw;
  }
  margin: 40px auto;
  box-shadow: 0 3px 6px 6px rgba(0,0,0, 0.16);
}